* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 950px;
    margin: auto;
}

a {
    color: #333;
}

.section {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 4em;
}

.section h2 {
    margin-bottom: 1em;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 950px;
    position: fixed;
    top: 0;
    
}

header h2 {
    margin-right: auto;
    font-size: 26px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;
}

.active {
    visibility: visible;
    transition: all 0.5s;
}

.hidden {
    visibility: hidden;
    transition: all 0.5s;
    transform: translateY(-100%);
}

.nav>li {
    padding: 10px;
}

.nav>li:hover {
    cursor: pointer;
    opacity: 90%;
}

/* Intro */

.intro {
    padding: 20px;
    margin-top: 32vh;
    margin-bottom: 50vh;
    margin-left: 15vw;
    font-size: 30px;
}

.intro h1, .intro h3 {
    margin-bottom: 10px;
}

.intro h5 {
    font-size: 18px;
    margin-top: 1em;
    font-weight: 100;
}

.intro h4 {
    font-size: 20px;
}

/* SKill */

.skill-item ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.skill-item li {
    font-size: 16px;
    padding: 15px 35px 15px 35px;
    line-height: 150%;
    text-align: center;   
}


.skill-item li:hover {
    background-color: #ecebebcb;
    border-radius: 15px 15px 0 0;
    transition:  0.2s;
    cursor: pointer;
}

/* Skill Details */

.skill-details {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* max-width: 705px;  */
    max-width: 660px;
    margin: auto;
    padding-top: 1em;
    font-size: 16px;
    border-top: 2px solid rgb(76, 128, 240);
}



.one-skill {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1em; 
    -webkit-animation: scale 0.5s ease-in-out;
    animation: scale 0.3s ease-in-out;
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.devicon-git-plain {
    max-width: 2em;
    margin-bottom: 1em;  
}

/* Projects */

.one-project {
    display: flex;
    flex-direction: row;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    color: rgb(76, 128, 240);
}


/* Contact */

.contact {
    text-align: center;
}