* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 950px;
    margin: auto;
}

a {
    color: #333;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
}

.header h2 {
    margin-right: auto;
    font-size: 26px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;
}

.nav>li {
    padding: 10px;
}

.nav>li:hover {
    cursor: pointer;
    opacity: 90%;
}

/* Intro */

.intro {
    padding: 20px;
    margin-top: 10em;
    margin-bottom: 18em;
    margin-left: 15vw;
    font-size: 28px;
    font-weight: 800;
}

.intro h1, .intro h3 {
    margin-bottom: 10px;
}

.intro h5 {
    font-size: 16px;
    margin-top: 1em;
    font-weight: 100;
}

/* SKill */

.skill {
    padding: 20px;
    font-size: 22px;
}

.skill-item ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-top: 2em;
    
}

.skill-item li {
    font-size: 18px;
    padding: 25px;
    line-height: 150%;
    text-align: center;
    
}


.skill-item li:hover {
    background-color: #dad8d8cb;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

/* Skill Details */

.skill-details {
    text-align: center;
    max-width: 665px;
    margin: auto;
    padding-top: 1em;
    font-size: 18px;
    border-top: 2px solid rgb(76, 128, 240);
}