* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 950px;
    margin: auto;
}

.section {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 4em;
}

.section h2 {
    margin-bottom: 1em;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 950px;
    position: fixed;
    top: 0;
    z-index: 15;
    
}

header h2, .logo {
    color: #000000;
    margin-right: auto;
    font-size: 26px;
    text-decoration: none;
}

header h2:hover, .logo {
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 10px;
}

.active {
    visibility: visible;
    transition: all 0.5s;
}

.hidden {
    visibility: hidden;
    transition: all 0.2s;
    transform: translateY(-100%);
}

.nav>li, .nav-link {
    color: #000000;
    padding: 10px; 
    text-decoration: none;
}

.nav>li:hover, .nav-link:hover {
    cursor: pointer;
    opacity: 90%;
    color: rgb(76, 128, 240);
}

/* Intro */

.intro {
    padding: 20px;
    margin-top: 40vh;
    margin-bottom: 40vh;
    margin-left: 15vw;
    font-size: 30px;
}

.intro h1, .intro h3 {
    margin-bottom: 10px;
}

.intro h5 {
    font-size: 18px;
    margin-top: 1em;
    font-weight: 100;
}

.intro h4 {
    font-size: 20px;
}

/* SKill */

.skill-item ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.skill-item li {
    font-size: 16px;
    padding: 15px 35px 15px 35px;
    line-height: 150%;
    text-align: center;   
}

.selected-skill {
    background-color: #ecebebcb;
    border-radius: 15px 15px 0 0;
}


.skill-item li:hover {
    background-color: #ecebebcb;
    border-radius: 15px 15px 0 0;
    transition:  0.2s;
    cursor: pointer;
}

/* Skill Details */

.skill-details {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-align: center;
    /* max-width: 705px;  */
    max-width: 660px;
    margin: auto;
    padding-top: 1em;
    font-size: 16px;
    border-top: 2px solid rgb(76, 128, 240);
}



.one-skill {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 1em; 
    -webkit-animation: scale 0.5s ease-in-out;
    animation: scale 0.3s ease-in-out;
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.devicon-git-plain {
    max-width: 2em;
    margin-bottom: 1em;  
}

/* Projects */

.one-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 3em;
    margin-top: 2em;
}

.one-project:hover .project-description {
    transform: translateX(-10px);
}

.project-thumb {
    max-width: 450px;
    border-radius: 4px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: #4682b4;
    opacity: 0.2;
    transition: 0.2s;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.overlay:hover {
    opacity: 0;
    transition: 0.2s;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    text-align: right;
    position: absolute;
    /* width: 100%;
    max-width: 40%; */
    left: 40%;
    /* margin-right: 1em;
    margin-left: auto; */
}

.project-featured {
    color: rgb(76, 128, 240);
    font-size: 16px;
    margin-bottom: 0.5em;
}

.project-title {
    color: #000000;
    margin-bottom: 1em;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
    margin-left: auto;
}

.project-description {
    font-size: 16px;
    background-color: #1B1B1B;
    color: white;
    border-radius: 10px;
    padding: 1.3em 1.3em 1.3em 4em;
    margin-bottom: 1em;
    margin-right: auto;
    line-height: 150%;
    min-height: 60px;
    box-shadow: 3px 3px 10px -3px #000;
    transition: ease-in-out 0.2s;
    transform: translateX(10px);
    z-index: 2;
}

.project-description:hover {
    cursor: default;
    transition: ease-in-out 0.2s;
    transform: translateX(-10px);
}

.project-tools {
    font-size: 16px;
    margin-bottom: 1em;
}

.project-icons {
    font-size: 26px;
    transition: 0.3s;
    color: #000000;
    margin-left: 10px;
}

.project-icons:hover {
    filter: invert(46%) sepia(69%) saturate(2512%) hue-rotate(204deg) brightness(96%) contrast(95%);
    transition: 0.3s;
}

/* Contact */

.contact {
    text-align: center;
}

.contact h5 {
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 1em;
}

.contact button {
    border: none;
    background-color: #ecebebcb;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    margin: 0 5px 2em 5px;
}

.contact button:hover {
    cursor: pointer;
}

.contact-icons {
    color: #000000;
    font-size: 2em;
}

/* Footer */

.footer {
    text-align: center;
    margin: 1em;
}

/* About */

.about-me {
    margin-left: 1.5em;
    margin-right: 1.5em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.about-me p {
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    line-height: 150%;
    margin-bottom: 1em;
}


.wrapper-picture {
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 8px 8px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 8px 8px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 8px 8px rgba(255,255,255,1);
    margin-right: 2em;
    min-height: 180px;
    min-width: 150px;
    background-image: url(./images/photo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {

    .section {
        margin-bottom: 2em;
    }

    /* Header Mobile */
    header {
        padding: 5px 15px 0px 0px;
    }

    .nav {
        padding: 5px;
        font-size: 14px;
    }

    .nav>li, .nav-link {
        padding: 5px; 
        margin: 5px;
    }

    header h2 {
        display: none;
    }

    /* Intro Mobile */
    .intro {
        margin-top: 30vh;
        margin-bottom: 30vh;
        padding-left: 0;
    }

    /* Skill Mobile */
    .skill-item {
        border-right: 2px solid rgb(76, 128, 240);
    }


    .skill-item ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
    }

    .skill-container {
        display: flex;
        flex-direction: row;
    }
 
    .skill-item li {
        font-size: 16px;
        padding: 15px 35px 15px 35px;
        line-height: 150%;
        border-radius: 0;
        text-align: center;   
    }
    
    
    .skill-item li:hover {
        background-color: #ecebebcb;
        border-radius: 0;
        transition:  0.2s;
        cursor: pointer;
    }

    .skill-details {
        border-top: none;
        flex-wrap: wrap;
    }

    /* Project Mobile */
    .one-project {
        display: flex;
        flex-direction: column-reverse;
        position: static;
        margin: 0;
        transform: none;
    }

    .one-project:hover .project-description {
        transform: none;
    }

    .project-thumb {
        overflow: visible;
    }

    .fishfollow-img img {
        width: 300px;
        height:auto;
        border: 1px #dadadacb solid;
        border-radius: 3px;
    }

    .overlay {
        background-color: #ffffff;
        transition: 0.2s;
        height: 100%;
        width: 100%;
        position: static;
    }

    .project-info {
        position: static;
        text-align: center;
        align-items: center;
    }

    .project-title {
        text-align: center;
        margin-right: auto;
    }

    .project-description {
        padding: 1em;
        font-size: 16px;
        transform: none;
    }

    .project-description {
        transform: none;
    }

    .project-links {
        margin-bottom: 1em;
    }

    /* About Mobile */

    .about {
        padding: 0;
    }

    .about h2 {
        padding: 20px;
        margin: 0;
    }
    
    .about-me {
        flex-direction: column-reverse;
    }

    .about-me p {
        font-size: 18px;
    }

    .wrapper-picture {
        margin: 0;
    }

}